@import (reference) "Bootstrapping/Mixins";

.mod-cat-tree {
  font-size: var(--small-font);

  .t-tip {
    padding: 4px var(--unit);
    background-color: var(--bg-color);
    display: inline-block;
    border-radius: var(--border-radius);
    margin-bottom: var(--unit);
  }

  .t-item {
    cursor: default;
  }

  .i-name {
    .flex-start;
    line-height: 30px;
    transition: color .2s;

    &:hover {
      color: var(--hover-blue);
    }

    .icon {
      margin-right: 4px;
    }
  }

  .i-add {
    //padding-left: 24px;

    .icon {
      cursor: pointer;
    }
  }

  .i-children {
    padding-left: 24px;
  }
}

.layout-form {
  .v-row {
    .flex-start;
    margin-bottom: var(--3unit);

    .label {
      width: 100px;
      font-size: var(--small-font);
      color: var(--second-color);
    }

    .v-input, .v-select {
      flex: 1;
    }
  }
}

.container {
  background-color: var(--bg-color);

  .logo {
    text-align: center;
    margin-bottom: var(--3unit);

    img {
      height: 120px;
    }
  }
}

.actions {
  text-align: center;
  margin-bottom: var(--3unit);

  .v-btn {
    margin-right: var(--unit);
  }
}

.content {
  position: relative;

  .section {
    margin-bottom: var(--3unit);
    background-color: var(--white);

    .s-row {
      display: flex;

      .r-category {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        background-color: #e5f9fc;
      }

      .r-sites {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: var(--2unit);
        border-bottom: 1px solid var(--border-color);

        .site-item {
          display: flex;
          align-items: center;
          height: 40px;
          padding: 0 var(--2unit);
          border: 1px solid var(--border-color);
          margin-top: -1px;
          margin-left: -1px;

          .link {
            transition: color .2s;

            &:hover {
              color: var(--hover-blue);
            }
          }

          .i-actions {
            margin-left: var(--unit);

            .v-btn {
              margin: 0 4px;
            }
          }
        }
      }

      &:first-child {
        .r-category {
          color: var(--white);
          background-color: var(--blue-color);
        }
      }

      &:last-child {
        .r-sites {
          border-bottom: none;
        }
      }
    }
  }
}

.mgr-panel {
  padding: var(--unit);
}

.popup-site {
  .v-window {
    .win-content {
      overflow-y: inherit;
    }
  }
}

.popup-manager {
  .v-window {
    .win-content {
      max-height: calc(100vh - var(--bar-height) - 120px);
    }
  }
}

.v-tag {
  .input {
    width: 100px;
  }

  .t-candidates {
    width: 388px !important;
  }
}

.v-dropdown {
  position: absolute;
  z-index: 1010;

  .d-item {
    cursor: pointer;
  }
}
